div.mainIcon2 {
  padding-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

div.intro-title {
  font-family: inherit;
  padding-top: 15%;
}

div.getstarted-format {
  font-size: 18px;
  padding-left: 35px;
  padding-right: 35px;
}
