div.mainIcon {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
  height: 50px;
}

div.context {
  height: 550px;
}

h1.maintext {
  color: white;
  font-weight: bold;
  padding-top: 55% !important;
}

div.intro-text {
  color: #F79D81;
  font-size: 18px;
}
