<<<<<<< HEAD
div.gmailIcon {
  margin: auto;
=======
div.gmail-icon {
>>>>>>> e19e0e39deca66683b8a066fcc91e272cdf60a8e
  padding-top: 60px;
  padding-bottom: 50px;
  height: 50px;
}
<<<<<<< HEAD
=======

>>>>>>> e19e0e39deca66683b8a066fcc91e272cdf60a8e
h1.authorization-title {
  padding-top: 22% !important;
  font-weight: bold;
}
<<<<<<< HEAD

div.instructions-format {
  text-align: left;
  line-height: 1.0 !important;
  padding-left: 40px;
  padding-right: 40px;
  color: #5D5E5E !important;
  font-size: 18px !important;
}

authorization-title {
  padding-top: 25% !important;
  color: black;
}
=======
>>>>>>> e19e0e39deca66683b8a066fcc91e272cdf60a8e
