div.showsecret-vcenter {
  height: 80px;
  line-height: 80px;
  margin-bottom: 22.4px;
}

span.showsecret-vcenter {
  display: inline-block;
  vertical-align: middle;
  line-height: 22.4px;
}

div.showsecret-circle {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid #428bca;
  text-align: center;
  line-height: 1.8em;
  margin-right: 1em;
  font-size: 0.8em;
  padding: 0.1em;
}