div.showsecret-vcenter {
  height: 80px;
  line-height: 80px;
  margin-bottom: 22.4px;
}

div.showSecretIcon {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  height: 40px;
}
span.showsecret-vcenter {
  display: inline-block;
  vertical-align: middle;
  line-height: 22.4px;
}

div.instruct-box {
  height: 200px;
  width: 400px;
  padding: 10px;
  border: 2px solid #ECC67B;
  background-color: #F9EDBE; 
  margin: auto;
  margin-bottom: 30px;
}

div.secret-box {
  height: 60px;
  width: 370px;
  padding: 10px;
  background-color: white;
  margin: auto;
}

span.secret-instruction {
  font-weight: bold;
  color: #50504E;
}
