.email-detail-entry {
  border-bottom: 1px solid rgba(0,0,0,0.04);
  margin-bottom: 1em;
}

.email-detail-from .glyphicon {
  font-size: 10px;
  padding-left: 0.25em;
}

.email-detail-reply-form {
  margin-top: 1em;
  margin-bottom: 2em;
}

.email-detail-reply-form button {
  margin-top: 1em;
  margin-left: 1em;
}

.email-subject {
  font-family: Roboto;
  color: #505050;
}

.email-mime-entry {
  margin-top: 1em;
  margin-bottom: 1em;
}

.email-text-content {
  white-space: pre-line;
}

.email-image-content {
  width: 100%;
}

.email-unsupported-content {
  border: 1px solid rgba(0,0,0,0.25);
  white-space: pre-line;
}

.email-error-content {
  border: 1px solid rgba(0,0,0,0.25);
  white-space: pre-line;
}

.single-attachment-received {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  font-weight: bold;
  font-size: 13px;
  margin: 0 7px 6px;
  color: #428bca !important;
  overflow-y: hidden;
  text-align: left;
  padding: 2px 6px;
  max-width: 448px;
  width: 80%;
  height: 23px;
  margin-bottom: -5px;
}

.file-description {
  color: #1155CC !important;
  margin: 0px;
  padding:0px;
  overflow-y: hidden;
  width:60%;
}

.file-size {
  width:30%;
  overflow-y:hidden;
}
