<h1 class="wizard-title">{{'resetTitle' | translate}}</h1>

<div class="row">

  <div class="col-xs-12 lead">{{'resetHelp' | translate}}</div>
  <div class="col-xs-12 lead text-danger">{{'resetWarning' | translate}}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary btn-focus col-xs-4 pull-right" ng-disabled="resetCtrl.inProgress" data-ng-click="resetCtrl.cancel()">{{'cancel' | translate}}</button>
    <button class="btn btn-link btn-focus pull-right" ng-disabled="resetCtrl.inProgress" data-ng-click="resetCtrl.goAhead()"><span class="text-danger">{{'resetAnywayLink' | translate}}</span></button>
  </div>
</div>
