div.resetbtn {
  margin-bottom: 28px;
}

div.recover-box {
  min-height: 120px;
  padding: 10px;
  border: 2px solid #ECC67B;
  background-color: #F9EDBE;
}

div.recover-help {
  margin-bottom: 39px;
  padding-left: 45px;
  padding-right: 45px;
}

input.input-box {
  font-family: monospace;
  border-radius: 0px;
  border: none;
  height: 50px;
  width: 5em;
  margin-left: 2px;
  margin-left: 2px;
  display: inline-block;
}

div.info-format {
  margin-bottom: 12px;
  color: #313339;
  font-weight: bold;
}
